# Theme colours:
#   - primary
#   - secondary
#   - accent
#   - foreground
#   - background
#   - success
#   - warning
#   - error
#   - surface
#   - panel

TConfig {
    align: center middle;
}

.layout_options {
    width: 100;
    height: 42;
    border: thick $primary;
    background: $surface;
    padding: 2 3 2 3;
}

.option_field_layout {
    content-align: center middle;
}

.option_label {
    height: 4;
    width: 30;
    align: left middle;
    border: round transparent;
}

.option_inputs {
    width: 90;
    height: 3;

    padding: 0;
    margin: 0;
    content-align: center middle;
}

.option_algo_select {
    height: 4;
    width: 60;
} 

.option_input_str {
    height: 3;
    width: 60;
}

.option_switch_hidden {
    visibility: hidden;
}

.option_switch {
    width: 15;
}

# ############################################################
# ############################################### BUTTONS ####
#option_button_layout {
    margin: 4 0 0 0;
    align: center middle;
}

.option_button {
    width: 20;
    margin: 0 5;
}

# ############################################################
# ################################################## SEED ####
#layout_seed {
    align: center middle;
}

#seed_input {
    width: 85;
    margin: 3;
    align: center middle;
}

#seed_history {
    border: round $primary;
    color: $primary;

    margin: 3;

    width: 85;
    height: auto;
    align: center middle;
    text-style: bold;
    text-align: center;
}

#seed_button {
    align: center middle;
    margin: 2;
}
