# Theme colours:
#   - primary
#   - secondary
#   - accent
#   - foreground
#   - background
#   - success
#   - warning
#   - error
#   - surface
#   - panel


Screen {
    align: center middle;
    content-align: center middle;
    border: round $primary;
}

#main_layout {
    align: center middle;
    content-align: center middle;
    # border: heavy grey;
    content-align: center middle;
}

.ttitles {
    width: 100%;
    color: $primary;
    # border: heavy grey;
    margin-bottom: 2;
    content-align: center middle;
}

#scroll_layout {
    border: round $primary;
    align: center middle;
    content-align: center middle;
}

TMaze {
    width: auto;
    height: auto;
    align: center middle;
    # border: heavy green;
}

MazeCanvas {
    width: auto;
    height: auto;
    # border: solid red;
    align: center middle;
    background: $background;

}

Header {
    background: $primary;
    color: $background;
    # text-style: blink;
}
HeaderClockSpace {
    color: $background;
}

Footer {
    background: $primary;
    color: $background;
}
.footer-key--key {
    color: red;
}

.footer-key--description {
    color: $background;
}
