# Theme colours:
#   - primary
#   - secondary
#   - accent
#   - foreground
#   - background
#   - success
#   - warning
#   - error
#   - surface
#   - panel

TMessage {
    align: center middle;
}

# ################################################################ LAYOUT #####
#message_layout_base {
    width: 60%;
    height: auto;
    padding: 2 5 2 5;
    border: thick $primary;
    color: $background;
}

.message_layout_error {
    background: $error;
}
.message_layout_success {
    background: $success;
}
.message_layout_warning {
    background: $warning;
}

# ################################################################# TITLE #####
.message_title {
    width: 100%;
    content-align: center middle;
    # border: round $background;
    # background: $primary;
    margin: 2;
}

# ############################################################### MESSAGE #####
.message_label {
    width: 100%;
    content-align: center middle;
    border: round transparent;
    margin: 2;
}

# ################################################################ BUTTON #####
.message_button {
    width: 30;
    align: center middle;
    margin: 0 2;
}
